*{
    margin: 0;
    padding: 0;
    font-family: consolas;
}
body{
    background-color: #37465b;
    background-size: 500%;
}
/*Menu de navegacion*/
header{
    display: flex;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #212B38;
}
h2{
    color: #08c6AB;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:rgb(0, 0, 0);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 10px;
}
nav a{
    font-weight: 800;
    padding-right: 10px;
}
nav a:hover{
    color: #08c6AB;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }

}
/*---------------------------------------*/
.pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}